.cta form label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: black;
  color: #717981;
  font-size: 0.85rem;
}

.cta form input,
.cta form textarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid #9094982f;
  padding: 0.6rem;
  font-size: 0.8rem;
  font-family: bold;
  color: #717981;
}
.form-group {
  margin: 1.2rem 0;
}
.dl {
  @apply border-b-2 border-text1 border-opacity-20 px-5 md:pl-14 py-10 md:py-14 flex;
}
.footer_socials {
  @apply font-light text-xs text-text2 font-semibold border p-2 rounded-full border-text1 border-opacity-40 hover:bg-primary hover:text-white transition ease-linear duration-500 hover:cursor-pointer;
}
